In [5]:
! pip install numpy pandas mlxtend xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/rahul/.local/lib/python3.8/site-packages (1.19.2)
Requirement already satisfied: pandas in /home/rahul/.local/lib/python3.8/site-packages (1.1.2)
Requirement already satisfied: mlxtend in /home/rahul/.local/lib/python3.8/site-packages (0.17.3)
Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 4.9 MB/s
Requirement already satisfied: python-dateutil&gt;=2.7.3 in /home/rahul/.local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz&gt;=2017.2 in /usr/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: joblib&gt;=0.13.2 in /home/rahul/.local/lib/python3.8/site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: setuptools in /usr/lib/python3.8/site-packages (from mlxtend) (50.3.0)
Requirement already satisfied: matplotlib&gt;=3.0.0 in /home/rahul/.local/lib/python3.8/site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scikit-learn&gt;=0.20.3 in /home/rahul/.local/lib/python3.8/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: scipy&gt;=1.2.1 in /home/rahul/.local/lib/python3.8/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: six&gt;=1.5 in /usr/lib/python3.8/site-packages (from python-dateutil&gt;=2.7.3-&gt;pandas) (1.15.0)
Requirement already satisfied: certifi&gt;=2020.06.20 in /home/rahul/.local/lib/python3.8/site-packages (from matplotlib&gt;=3.0.0-&gt;mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver&gt;=1.0.1 in /home/rahul/.local/lib/python3.8/site-packages (from matplotlib&gt;=3.0.0-&gt;mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,&gt;=2.0.3 in /usr/lib/python3.8/site-packages (from matplotlib&gt;=3.0.0-&gt;mlxtend) (2.4.7)
Requirement already satisfied: cycler&gt;=0.10 in /home/rahul/.local/lib/python3.8/site-packages (from matplotlib&gt;=3.0.0-&gt;mlxtend) (0.10.0)
Requirement already satisfied: pillow&gt;=6.2.0 in /usr/lib/python3.8/site-packages (from matplotlib&gt;=3.0.0-&gt;mlxtend) (7.2.0)
Requirement already satisfied: threadpoolctl&gt;=2.0.0 in /home/rahul/.local/lib/python3.8/site-packages (from scikit-learn&gt;=0.20.3-&gt;mlxtend) (2.1.0)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

## Download the required libraries numpy , pandas , mlxtend (for apriori algorithm)

In [6]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori , association_rules

***Reading the data from dataset***

In [7]:
data = pd.read_excel("Online Retail.xlsx")

In [9]:
data.head() # this would show first 5 rows of data

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [12]:
data.columns # getting columns of the dataset

Index([&#39;InvoiceNo&#39;, &#39;StockCode&#39;, &#39;Description&#39;, &#39;Quantity&#39;, &#39;InvoiceDate&#39;,
       &#39;UnitPrice&#39;, &#39;CustomerID&#39;, &#39;Country&#39;],
      dtype=&#39;object&#39;)

## Cleaning Data

In [15]:
data['Description'] = data['Description'].str.strip()

In [16]:
data['Description'].head()

0     WHITE HANGING HEART T-LIGHT HOLDER
1                    WHITE METAL LANTERN
2         CREAM CUPID HEARTS COAT HANGER
3    KNITTED UNION FLAG HOT WATER BOTTLE
4         RED WOOLLY HOTTIE WHITE HEART.
Name: Description, dtype: object

In [18]:
data.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')